@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.{
    box-sizing: border-box;
}
body{
    background-color:#f0f1f8;
    font-family: 'Poppins', sans-serif;
    margin-top:10rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

.quiz-container{
    background-color:white;
    width:800px;
    max-width:100%;
    border-radius:10px;
    box-shadow: 0 4px 28px 0 rgba(90, 88, 88, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.quiz-header{
    padding:3rem 1rem 3rem 3rem;
}
h1{
    padding :20px;
    text-align:center;

}

ul{
    list-style-type:none;
    padding:0;
    margin:0;
}
ul li{
    margin:1rem 0;
    font-size: 1.3rem;
}
ul li label{
    cursor: pointer;
}

button{
    background-color:rgb(21, 21, 219);
    color:white;
    border:none;
    display:block;
    font-family:inherit;
    font-size:1.5rem;
    width:100%;
    padding:1.2rem;
    cursor: pointer;
}

button:hover{
    background-color: rgb(28, 28, 196);
}

.text-red{
    color:red;
    padding:0rem .3rem 0 0;
}